parameters:
	ignoreErrors:
		-
			message: "#^Out of 28 possible constant types, only 0 \\- 0\\.0 %% actually have it\\. Add more constant types to get over 99 %%$#"
			count: 2
			path: lib/AnalyzeApplication.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: lib/AnalyzerResultReader.php

		-
			message: "#^Call to function is_array\\(\\) with array\\{ignoreErrors\\?\\: list\\<array\\{message\\: string, count\\: int, path\\: string\\}\\>\\} will always evaluate to true\\.$#"
			count: 1
			path: lib/Baseline.php

		-
			message: "#^Call to function is_array\\(\\) with list\\<array\\{message\\: string, count\\: int, path\\: string\\}\\> will always evaluate to true\\.$#"
			count: 1
			path: lib/Baseline.php

		-
			message: "#^Parameter \\#1 \\$input of static method Nette\\\\Neon\\\\Neon\\:\\:decode\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: lib/Baseline.php

		-
			message: "#^Property staabm\\\\PHPStanBaselineAnalysis\\\\Baseline\\:\\:\\$content \\(array\\{parameters\\?\\: array\\{ignoreErrors\\?\\: list\\<array\\{message\\: string, count\\: int, path\\: string\\}\\>\\}\\}\\) does not accept array\\.$#"
			count: 1
			path: lib/Baseline.php

		-
			message: "#^Method staabm\\\\PHPStanBaselineAnalysis\\\\BaselineAnalyzer\\:\\:normalizeMessage\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: lib/BaselineAnalyzer.php

		-
			message: "#^Out of 28 possible constant types, only 0 \\- 0\\.0 %% actually have it\\. Add more constant types to get over 99 %%$#"
			count: 4
			path: lib/BaselineAnalyzer.php

		-
			message: "#^Out of 28 possible constant types, only 0 \\- 0\\.0 %% actually have it\\. Add more constant types to get over 99 %%$#"
			count: 2
			path: lib/FilterApplication.php

		-
			message: "#^Out of 28 possible constant types, only 0 \\- 0\\.0 %% actually have it\\. Add more constant types to get over 99 %%$#"
			count: 1
			path: lib/GraphTemplate.php

		-
			message: "#^Generator expects value type string, string\\|false given\\.$#"
			count: 1
			path: lib/ResultPrinter.php

		-
			message: "#^Out of 28 possible constant types, only 0 \\- 0\\.0 %% actually have it\\. Add more constant types to get over 99 %%$#"
			count: 14
			path: lib/ResultPrinter.php

		-
			message: "#^Out of 28 possible constant types, only 0 \\- 0\\.0 %% actually have it\\. Add more constant types to get over 99 %%$#"
			count: 5
			path: lib/TrendApplication.php
