parameters:
    level: max
    
    paths:
        - bin/
        - lib/

    unused_public:
        methods: true
        properties: true
        constants: true

    cognitive_complexity:
        class: 50
        function: 12

    type_coverage:
        return_type: 100
        param_type: 87
        property_type: 0
        print_suggestions: false