includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- phpstan-baseline.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    
    paths:
        - bin/
        - lib/

    unused_public:
        methods: true
        properties: true
        constants: true

    cognitive_complexity:
        class: 50
        function: 13

    type_coverage:
        return_type: 100
        param_type: 92
        property_type: 0
        print_suggestions: false

    ignoreErrors:
        -
            message: '#Cognitive complexity for "staabm\\PHPStanBaselineAnalysis\\FilterConfig::fromArgs\(\)" is 25, keep it under 13#'
            path: 'lib/FilterConfig.php'